@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    /* position: absolute; */
    height: 152px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.header-spacing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    height: 8px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.header-hello-panel {
    height: 48px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.header-hello {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #050510;

    width: 76px;
    height: 28px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 2px;

    position: relative;
    width: 76px;
    height: 28px;
    left: 24px;
    top: calc(50% - 28px/2 - 2px);
}

.header-search-panel {
    height: 52px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

i {
    color: #C3C3C6;
}

hr {
    margin: 0;
    border-top: 1px solid #C3C3C6;
}

.header-search-bar {
    display: flex;
    /* flex-direction: row; */
    /* align-items: flex-start; */
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    /* position: absolute; */
    height: 40px;
    margin-left: 16px;
    margin-right: 16px;
    top: calc(50% - 40px/2);

    background: #F7F7F8;
    border-radius: 16px;
}

.header-search {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;

    width: 100%;
    height: 24px;

    border: none;
    background: none;

    /* position: absolute; */

    /* flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0; */

    color: #C3C3C6;
}

.header-search:focus {
    outline: none;
    color: #050510;
}

.header-sort {
    height: 24px;

    border: none;
    background: none;

    float: left;
}

.header-sort:hover {
    cursor: pointer;
}

.header-filters-panel {
    height: 36px;

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.header-filter-tabs {
    /* position: relative; */

    height: 36px;
    /* left: 0px;
    right: 0px;
    bottom: 0px; */
}

.header-filter-tabs-holder {
    /* display: flex;
    flex-direction: row; */
    /* align-items: center; */
    /* padding: 0px; */

    position: relative;
    /* width: 461px; */
    height: 36px;
    padding-left: 16px;
    top: 0px;
}

.header-filter-button,
.header-filter-button-active {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;

    padding: 0px;

    border: none;
    background: none;

    height: 36px;

}

.header-filter-button-active {
    border-bottom: 2px solid #6534FF;
}

.header-filter-button-text,
.header-filter-button-text-active {

    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;

    padding: 8px 12px;
    gap: 6px;

    /* width: 52px; */
    height: 36px;
    color: #97979B;

    /* Inside auto layout */

    /* flex: none;
    order: 0;
    flex-grow: 0; */
}

.header-filter-button-text-active {
    font-weight: 600;
    color: #050510;
}

.under-modal {
    height: 100vh;
    width: 100%;
    background-color: rgba(5, 5, 16, 0.36);
    position: fixed;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 8px;

    position: fixed;
    width: 373px;
    height: 192px;
    left: calc(50% - 373px/2 + 0.5px);
    top: calc(50% - 192px/2);

    background: white;
    border-radius: 20px;
}

.modal-header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding-right: 23px;
    padding-left: 23px;
    /* padding: 23px; */
}

.modal-header-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 36px;
}

.modal-switcher {
    height: 120px;
    padding-left: 16px;
    padding-right: 16px;
}

.modal-switcher-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    height: 60px;

    display: flex;
    align-items: center;
}

.modal-switcher-item-text {
    margin-left: 14px;
}

.modal-switcher-item-radio {
    accent-color: #6534FF;
    background-color: #2196F3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.modal-switcher-item-radio:checked {
    background-color: #2196F3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.workers {
    padding-top: 10px;

    padding-left: 16px;
    padding-right: 16px;
}

.workers-list-item {
    text-decoration: none;

}

.workers-list-item-content {
    height: 80px;

    display: flex;
    flex-direction: row;

    margin-bottom: 10px;
}

.workers-list-item-next-year {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;

    color: #C3C3C6;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.workers-list-item-next-year-line {
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
    border-top: 1px solid #C3C3C6;
}

.workers-list-item-next-year-date {
    margin-left: 24px;
    margin-right: 24px;
}

.workers-list-item-avatar-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workers-list-item-avatar {

    width: 72px;
    height: 72px;

    border-radius: 50%;
}

.workers-list-item-details {
    width: 100%;
    margin-left: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workers-list-item-details-personal-info {
    display: flex;
    flex-direction: row;
}

.workers-list-item-details-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #050510;
}

.workers-list-item-details-tag {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    align-self: flex-end;

    color: #97979B;

    margin-left: 4px;
}

.workers-list-item-details-department {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #55555C;
}

.workers-list-item-details-date {
    margin-right: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    min-width: 80px;

    display: flex;
    align-items: center;
    justify-content: right;

    color: #55555C;

    float: right;
}

.worker-details-header {
    height: 280px;

    background: #F7F7F8;

    display: flex;
    flex-direction: column;
}

.worker-details-header-back {
    margin-top: 12px;
    margin-left: 32px;

    margin-bottom: 12px;
    height: 48px;

    color: #050510;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.worker-details-header-avatar-holder {
    height: 184px;


    display: flex;
    justify-content: center;
}

.worker-details-header-avatar {
    height: 104px;
    width: 104px;

    border-radius: 50%;
}

.worker-details-header-personal-info {
    margin-top: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.worker-details-header-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.worker-details-header-tag {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;

    margin-left: 4px;
    color: #97979B;
    align-self: center;
}

.worker-details-header-department {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    margin-top: 12px;
    margin-bottom: 24px;

    color: #55555C;
    display: flex;
    justify-content: center;
}

.worker-details-body {
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.worker-details-line {
    height: 60px;
    margin-bottom: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.worker-details-info {
    width: 100%;
    margin-left: 16px;
}

.worker-details-years-old {}

.worker-details-phone {}

.no-results-holder {
    --width: 343px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    /* gap: 16px; */

    position: absolute;
    width: var(--width);
    height: 118px;
    left: calc(50% - var(--width)/2);
    top: 301px;
    /* background-color: #C3C3C6; */
}

.no-results-lupa-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.no-results-lupa-img {
    width: 56px;
    height: 56px;
}

.no-results-text {
    margin-top: 8px;
    width: 100%;
}

.no-results-text-upper {
    height: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;

    text-align: center;

    color: #050510;
}

.no-results-text-lower {
    height: 20px;
    margin-top: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    text-align: center;

    color: #97979B;
}

.no-results-text-lowerest {
    height: 20px;
    margin-top: 12px;

    text-align: center;
}

.retry-button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    border: none;
    background: none;

    color: #6534FF;
}

.retry-button:hover {
    cursor: pointer;
}