@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    /* position: absolute; */
    height: 152px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.header-spacing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    height: 8px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.header-hello-panel {
    height: 48px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.header-hello {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #050510;

    width: 76px;
    height: 28px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 2px;

    position: relative;
    width: 76px;
    height: 28px;
    left: 24px;
    top: calc(50% - 28px/2 - 2px);
}

.header-search-panel {
    height: 52px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

i {
    color: #C3C3C6;
}

hr {
    margin: 0;
    border-top: 1px solid #C3C3C6;
}

.header-search-bar {
    display: flex;
    /* flex-direction: row; */
    /* align-items: flex-start; */
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    /* position: absolute; */
    height: 40px;
    margin-left: 16px;
    margin-right: 16px;
    top: calc(50% - 40px/2);

    background: #F7F7F8;
    border-radius: 16px;
}

.header-search {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;

    width: 100%;
    height: 24px;

    border: none;
    background: none;

    /* position: absolute; */

    /* flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0; */

    color: #C3C3C6;
}

.header-search:focus {
    outline: none;
    color: #050510;
}

.header-sort {
    height: 24px;

    border: none;
    background: none;

    float: left;
}

.header-sort:hover {
    cursor: pointer;
}

.header-filters-panel {
    height: 44px;

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.header-filter-tabs {
    /* position: relative; */

    height: 36px;
    /* left: 0px;
    right: 0px;
    bottom: 0px; */
}

.header-filter-tabs-holder {
    /* display: flex;
    flex-direction: row; */
    /* align-items: center; */
    /* padding: 0px; */

    position: relative;
    /* width: 461px; */
    height: 36px;
    padding-left: 16px;
    top: 0px;
}

.header-filter-button,
.header-filter-button-active {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;

    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    padding: 0px;

    border: none;
    background: none;

    /* width: 52px; */
    height: 36px;

    /* flex: none;
    order: 0;
    flex-grow: 0; */
}

.header-filter-button-active {
    border-bottom: 2px solid #6534FF;
}

.header-filter-button-text,
.header-filter-button-text-active {

    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;

    padding: 8px 12px;
    gap: 6px;

    /* width: 52px; */
    height: 36px;
    color: #97979B;

    /* Inside auto layout */

    /* flex: none;
    order: 0;
    flex-grow: 0; */
}

.header-filter-button-text-active {
    font-weight: 600;
    color: #050510;
}

/* .body {} */

.under-modal {
    height: 100vh;
    width: 100%;
    background-color: rgba(5, 5, 16, 0.36);
    position: fixed;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 8px;

    position: fixed;
    width: 373px;
    height: 192px;
    left: calc(50% - 373px/2 + 0.5px);
    top: calc(50% - 192px/2);

    /* [Light] BG / Card Primary */

    background: white;
    border-radius: 20px;
}

.modal-header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding-right: 23px;
    padding-left: 23px;
    /* padding: 23px; */
}

.modal-header-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 36px;
}

.modal-switcher {
    height: 120px;
    padding-left: 16px;
    padding-right: 16px;
}

.modal-switcher-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    height: 60px;

    display: flex;
    align-items: center;
}

.modal-switcher-item-text {
    margin-left: 14px;
}

/* input[type='radio'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
} */

.modal-switcher-item-radio {
    accent-color: #6534FF;
    background-color: #2196F3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.modal-switcher-item-radio:checked {
    background-color: #2196F3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}